{% extends 'base.html' %}
{% block content %}
<div class="max-w-md mx-auto bg-white/10  border-t-4 border-b-4 border-r-4 border-l-4 rounded-xl border-black/60 p-8 my-10">
    <h2 class="text-2xl font-bold mb-6 text-center">NGO Volunteer Registration</h2>
    <form method="POST" class="space-y-4">
        {% csrf_token %}
        <input type="email" name="email" placeholder="Email Address" class="w-full p-3 bg-white/60 border border-black/60 rounded-lg outline-none" required>
        <input type="password" name="password" placeholder="Password" class="w-full p-3 bg-white/60 border border-black/60 rounded-lg outline-none" required>
        <input type="text" name="phone" placeholder="Phone Number" class="w-full p-3 bg-white/60 border border-black/60 rounded-lg outline-none" required>
        <input type="text" name="ngo_id" placeholder="NGO ID" class="w-full p-3 bg-white/60 border border-black/60 rounded-lg outline-none" required>
        <input type="password" name="sec_code" placeholder="NGO Security Code" class="w-full p-3 bg-white/60 border border-black/60 rounded-lg outline-none" required>
        <input type="text" name="pincode" placeholder="Pincode" class="w-full p-3 bg-white/60 border border-black/60 rounded-lg outline-none" required>
        <button type="submit" class="w-full bg-purple-400 py-3 rounded-lg font-bold hover:bg-purple-500 transition border border-black/60">Register as NGO Volunteer</button>
    </form>
</div>
{% endblock %}